@model IEnumerable<BookStore.DATA.EF.Models.Book>

@{
    ViewData["Title"] = "Shop Books";
}

@* <h1>Index</h1> *@

<!-- Product/Book Start -->
<section class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="text-primary mb-3"><span class="fw-light text-dark">Seminal Texts</span>For Your Shelf</h1>
            <p class="mb-5">In good conscience, I'd never peddle fluff. These texts all come from my personal library, and I happen to own duplicates. These works transformed my life. I'm confident they'll change yours!
                <br />
                <br />
                <em>Below are my top recommendations:</em>
            </p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="product-item text-center border h-100 p-4">
                    <img class="img-fluid mb-4" src="img/BrothersKaramazov.jpg" alt="">
                   @*  <div class="mb-2">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small>(99)</small>
                    </div> *@
                    <a href="" class="h6 d-inline-block mb-2">Brothers Karamazov</a>
                    <h5 class="text-primary mb-3">$35.99</h5>
                    <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="product-item text-center border h-100 p-4">
                    <img class="img-fluid mb-4" src="img/FearAndTrembling.jpg" alt="">
                   @*  <div class="mb-2">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small>(99)</small>
                    </div> *@
                    <a href="" class="h6 d-inline-block mb-2">Fear and Trembling</a>
                    <h5 class="text-primary mb-3">$27.99</h5>
                    <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="product-item text-center border h-100 p-4">
                    <img class="img-fluid mb-4" src="img/PaleFire.jpg" alt="">
                   @*  <div class="mb-2">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small>(99)</small>
                    </div> *@
                    <a href="" class="h6 d-inline-block mb-2">Pale Fire</a>
                    <h5 class="text-primary mb-3">$14.95</h5>
                    <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                </div>
            </div>
            @* <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="product-item text-center border h-100 p-4">
                    <img class="img-fluid mb-4" src="img/product-2.png" alt="">
                    <div class="mb-2">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small>(99)</small>
                    </div>
                    <a href="" class="h6 d-inline-block mb-2">Hair Growing Shampoo</a>
                    <h5 class="text-primary mb-3">$99.99</h5>
                    <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                </div>
            </div> *@
        </div>
    </div>
</section>
<!-- Product/Book End -->

@* <p>
    <a asp-action="Create">Create New</a> |
</p> *@


<section class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="text-primary mb-3"><span class="fw-light text-dark">Books</span>For Sale</h1>
        <p align="center">
@* 
                @if (User.IsInRole("Admin"))
                { *@
                    <span>
                        <a asp-action="Create">Add New Book</a> |
                    </span>
                @* } *@
                <a asp-action="TiledBooks">Tile View</a>
        </p>
    </div>
    </div>
</section>

<section class="product_section">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFiction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFiction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition.ConditionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.TypeDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</section>